
@{
    ViewBag.Title = "partner_createnew";
    Layout = "~/Views/Shared/layout_backend.cshtml";
}

<form action="~/Account/partner_createnew" method="post">
    <input type="text" placeholder="" name="name" />
    <input type="file" placeholder="" name="img" />
    <input type="submit" value="Submit" />
</form>

